* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    display: flex;
    border: 5px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

button {
    position: relative;
    width: 20rem;
    height: 5rem;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: larger;
    font-weight: 900;
}

.sketched {
    background-color: grey;
}